Machine_Learning/joblib_modelle/finales*.joblib filter=lfs diff=lfs merge=lfs -text
Daten/db_bereinigt_final.csv filter=lfs diff=lfs merge=lfs -text
Daten/db_datensatz_komplett.csv filter=lfs diff=lfs merge=lfs -text
Daten/db_measurements_v210.csv filter=lfs diff=lfs merge=lfs -text