# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
env/
.venv/
.env
thermische_app_env/


# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
