streamlit==1.59.2
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn==1.9.0
graphviz
requests
python-dotenv
streamlit-echarts
sqlalchemy
shap
pickledb
imbalanced-learn
multiprocess
joblib
missingno
altair
pydeck
scipy
Pillow
tabulate